.container {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9ff;
  /* text-decoration: ;
  tex */
  /* text-transform: uppercase; */
}

.text-portion {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  padding-left: 12vw;
  margin-top: 160px;
}

.image_style {
  margin-left: -40vw;
}

.btn-style {
  background: none;
  height: 40px;
  margin-top: 20px;
  /* margin-left: 30px; */
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  /* 0deg, #0e6785, #2e829e); */
  font-family: "Poppins", sans-serif;

  /* 0deg,#8490ff 0%,#62bdfc 100%); */
  /* background-color: ; */
  color: white;

  font-size: 14px;
  text-transform: uppercase;
  width: 180px;
  box-shadow: 0px 20px 20px rgb(202, 198, 198);
  font-weight: 530;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
